#content-wrapper,body,html{
    margin:0;
    width:100vw;
    height:100vh
}
#content-wrapper,#tabs,.tab{
    overflow:auto
}
#content-wrapper,#nsrpt,#tabs,.tab{
    position:absolute
}
body,html{
    background-color:orange
}
lnk{
    color:#99C;
    text-decoration:underline
}
lnk:hover{
    color:#88F
}
#content-wrapper{
    top:0;
    background-color:#777
}
.opener{
    display:inline-block;
    margin:7.5vh 0 0;
    width:15%;
    height:7.5vh;
    top:7.5vh;
    font-size:25px
}
#tabs{
    width:100%;
    height:85vh
}
#tab-openers{
    width:100%;
    height:15vh
}
#nsrpt{
    z-index:1;
    width:100vw;
    height:100vh;
    background-color:#fff
}
.tab{
    height:inherit;
    width:inherit
}
.left,.right{
    padding:0 1vw;
    width:20vw;
    height:inherit;
    background-color:transparent
}
.left{
    float:left
}
.right{
    float:right
}
.center{
    padding:1vw;
    background-color:inherit;
    background-image:none;
    float:left;
    width:50vw;
    height:auto;
    box-shadow:0 0 10px 2px #444;
    overflow:hidden;
    z-index:15
}
.comments,textarea{
    box-shadow:none
}
.comments{
    background-color:#DD0;
    color:#D00;
    font-family:"Times New Roman";
    font-size:24px
}
form>.submit:hover,textarea{
    background-color:#bb0
}
textarea{
    font-family:Arial;
    width:100%;
    border-radius:5px;
    resize:none;
    border-color:transparent
}
form>.submit{
    background-color:#DD0
}
.acomment{
    background-color:orange;
    margin:10px;
    border-radius:10px;
    height:auto;
    word-wrap:break-word
}
@media only screen and (max-width:520px){
    #tab-openers{
        display:none
    }
    #tabs{
        height:100%
    }
}
@media only screen and (max-width:475px){
    content-wrapper{
        width:475px;
        overflow:hidden
    }
    #tabs{
        width:475px
    }
    .center{
        width:237.5px;
        left:118.75px;
        z-index:15
    }
    .left,.right{
        width:118.75px;
        z-index:1
    }
    .center,.left,.right{
        padding:0;
        top:0;
        position:absolute
    }
    .right{
        right:0
    }
    .left{
        left:0
    }
}
@media only screen and (max-width:420px){
    .center,.left{
        position:static
    }
    .left,.right{
        float:none;
        top:initial
    }
    .tab{
        display:flex;
        flex-direction:column
    }
    .center,.left,.right{
        width:100%;
        height:auto;
        box-shadow:0 0 10px 2px #444;
        display:block
    }
    .center{
        order:1
    }
    .left{
        order:2;
        left:initial
    }
    .right{
        order:3;
        right:initial;
        position:initial
    }
    .comments{
        width:auto
    }
}
