<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tab Editing</title>
	<link href="/fonts?family={{data.fonts|join('|')}}" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/ind.min.css">
	<link rel="icon" href="static/img/icon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/static/img/ico.png">
	<link rel="apple-touch-startup-image" href="/static/img/ico.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="manifest" href="/static/wm.webmanifest">
	<meta name="theme-color" content="orange">
	<style>
		.opener {display: inline-block;margin: 7.5vh {{16.66/(data.tabs|list|count+0.1)}}%;width: {{100/((data.tabs|list|count+0.1)*1.5)}}%;height:7.5vh;top:7.5vh;font-size:2vw}#content-wrapper{background-color:#777777;height:100vh}age{background-color:rgba(255,255,0,0.5)}lnk{background-color:rgba(0,255,0,0.5)}tool,input[type=submit]{width:3em;height:3em;appearance:button;-webkit-appearance:button;-moz-appearance:button;overflow:hidden;border:none;background-color:#dddddd;text-align:center;line-height:3em;}#ptlink{color:blue}#ptlink::hover{text-decoration:underline}#modal{z-index:60;width:100vw;height:100vh;position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.5)}#innermodal{top:50vh;left:50vw;background-color:#FFFFFF;padding:12px;position:fixed}
	</style>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/ind.js"></script>
</head>

<body onload="flip((getCookie('tab')==='')?0:parseInt(getCookie('tab')));update()">
	<!-- Starts here -->
	Editing Tabs...
	<div id="content-wrapper">
		<form method="post" action="/changetabs" onsubmit="submit()" id="submit-form">
			<input type="hidden" name="tabs" id="input"></input>
			(You can go to <span id="ptlink">/tabs</span> to edit your tab if you have any. This will take you to a web browser, away from the web app. You can also add <em>that</em> to the home screen.)
			<noscript>
			<div id="nsrpt">
				<h1>Your browser does not allow JavaScript.</h1>
			</div>
		</noscript>
			<div id="tools">
				<tool onclick="submit()">SUB</tool>
				<tool id="html">&lt;/&gt;</tool>
				<tool style="text-decoration:underline;text-decoration-color:gray;-webkit-text-decoration-color:gray" onclick=></tool>
			</div>
			<div id="tab-openers">
				{% for i in data.tabs|list %}
				<div class="opener" id="tabo{{loop.index0}}" onclick="flip({{loop.index0}})" style="color:{{i.style.4}};background-color:{{i.style.1}}">{{ i.owners|join(" & ") }} <span onclick="more({{loop.index0}})" style="color:gray;font-size:2em;text-transform:rotate(90deg)">...</span></div>{% endfor %}
			</div>
			<div id="tabs">
				<div style="z-index:0;display:block;background-color:white" class="tab">
					<h1>Tab does not exist.</h1>
				</div>
				{% for j in data.tabs|list %}
				<table id="tab{{loop.index0}}" class="tab" style="display: none;background-color:{{j.style.1}};color:{{j.style.2}};font:{{j.style.0}};background-image:url({{j.style.3}})">
					<tr>
						<td class='left' contenteditable>
							{{j.content.0|safe}}&nbsp;
						</td>
						<td class='center' contenteditable style="background-color:{{j.style.1}}">

							{{j.content.1|safe}}

						</td>
						<td class='right' contenteditable>
							{{j.content.2|safe}}
						</td>
					</tr>
				</table>
				{% endfor %}
			</div>
	</div>
	</form>
	</div>
	<script>
		var mp = { x: -1, y: -1 };
		var part = "center"
		$(document).mousemove(function(event) {
			mp.x = event.pageX
			mp.y = event.pageY
		});
		$("tool").click(function(e) {
			id=this.id
			switch(id){
				case "html":
					getmodal(`Insert HTML<br><textarea id="htmlinput"><\/textarea><button onclick="insert(document.getElementById('htmlinput').value);$(this).parent().parent().remove();update()">Go<\/button>`)
					break
			}
		});
		function more(tab) {
			pos = mp
			n = $("<dropdown onmouseout='$(\"dropdown\").remove()' style='position:absolute;top:" + (pos.y - 10) + "px;left:" + (pos.x - 10) + "px;display:block;background-color:#aaaaaa'>\</dropdown>")
			$("body").append(n)
			document.getElementsByTagName("dropdown")[0].style.zIndex = 45
			$("dropdown").append("hello test")
		}
		$('td').click(function(evt) {
			part = this.className
		})

		function insert(val) {
			$("#tab" + tab + " ." + part).append(val)
		}
		
		function submit(){
			debugger
			ts=[]
			ch=$("#tabs").children()
			for(var i=0;i<ch.length-1;i++){
				tab_={}
				_tab=$("#tab"+i)[0]
				tab_.owners=$("#tabo"+i).text().slice(0,-4).split(" & ")
				tab_.content=[$("#tab"+i+" .left").html().slice(0,-5),$("#tab"+i+" .center").html(),$("#tab"+i+" .right").html()]
				tab_.style=[null,null,null,null,null]
				tab_.style[0]=_tab.style.font
				tab_.style[1]=_tab.style.backgroundColor
				tab_.style[2]=_tab.style.color
				tab_.style[3]=_tab.style.backgroundImage.slice(4,-2)
				console.log(tab_.style[3])
				tab_.style[4]=$("#tabo"+i)[0].style.color
				//console.log(tab_)
				ts.push(tab_)
			}
			$("#input").val(JSON.stringify(ts))
			document.getElementById("submit-form").submit()
		}
		$(".opener").css("display","inline-block")
		$("#_tabs").attr("id","tabs")
		$(".tab").css("position","absolute")
		$("#no-tab").css("display","block")
		$("#tabs-link").attr("href","/tabs")
	</script>
</body>

</html>

